<div class="management-wrap">
  <nz-layout>
    <nz-header>
      <div class="header-operate">
        <nz-dropdown [nzPlacement]="">
          <a nz-dropdown> {{ username }}<i nz-icon type="down"></i> </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a (click)="changePWD()">修改密码</a>
            </li>
            <li nz-menu-item>
              <a (click)="logout()">退出</a>
            </li>
          </ul>
        </nz-dropdown>
        <div class="change-bg" (click)="changeBackground($event)">切换背景</div>
      </div>
    </nz-header>
    <nz-content>
      <nz-spin [nzSpinning]="isLoaded">
        <div style="display: flex;flex-wrap: wrap;padding: 10px 15% 10px 15%;">
          <div *ngFor="let item of subSystemInfos" style="width: 18%;">
            <platform-icon
              [imgUrl]="item.imageUrl2"
              [name]="item.linkName"
              [url]="item.linkUrl"
              [authorized]="item.authorized"
              [title]="item.title"
              [content]="item.content"
            ></platform-icon>
          </div>
        </div>
      </nz-spin>
    </nz-content>
  </nz-layout>
</div>
