.login-wrap {
  min-width: 700px;
  text-align: center;
  height: calc(100vh);
}

.login-wrap img {
  max-width: 150px;
}

.login-wrap .body {
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.7);
  margin: 15% auto;
  max-width: 400px;
  border-radius: 4px;
}

.ant-layout {
  background-image: url(../../assets/logo_bg.jpg);
  background-size: cover;
  height: 100%;
}

.ant-layout-header {
  padding: 0 5px;
  background: white;
  text-align: left;
}

.resource-header img {
  transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
}
