.login-wrap {
  min-width: 700px;
  text-align: center;
  padding-top: 15%;
  background-image: url(../../assets/logo_bg.jpg);
  background-size: cover;
  height: calc(100vh);
}

.login-wrap img {
  max-width: 150px;
}

.login-wrap .body {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 4px;
}

.header {
  position: fixed;
  top: 0;
}

.resource-header img {
  transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
}
