<div class="login-wrap">
  <nz-layout>
    <nz-header>
      <div class="header">
        <img src="../../assets/newlogo.png" />
      </div>
    </nz-header>

    <nz-content>
      <div class="body">
        <!-- <div class="resource-header">
          <img src="../../assets/hrp.jpeg" />
        </div> -->
        <div>
          <h2 style="padding: 10px;color: rgb(101,167,248)">账户登录</h2>
          <form
            nz-form
            [formGroup]="validateForm"
            class="login-form"
            (ngSubmit)="submitForm()"
          >
            <nz-form-item>
              <nz-form-control [nzSpan]="12" [nzOffset]="6">
                <nz-input-group [nzPrefix]="prefixUser">
                  <input
                    type="text"
                    nz-input
                    [(ngModel)]="username"
                    formControlName="username"
                    placeholder="请填入用户名"
                  />
                </nz-input-group>
                <nz-form-explain
                  *ngIf="
                    validateForm.get('username')?.dirty &&
                    validateForm.get('username')?.errors
                  "
                  >请填入用户名</nz-form-explain
                >
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="12" [nzOffset]="6">
                <nz-input-group [nzPrefix]="prefixLock">
                  <input
                    type="password"
                    nz-input
                    [(ngModel)]="password"
                    formControlName="password"
                    placeholder="请输入密码"
                  />
                </nz-input-group>
                <nz-form-explain
                  *ngIf="
                    validateForm.get('password')?.dirty &&
                    validateForm.get('password')?.errors
                  "
                  >请输入密码</nz-form-explain
                >
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="12" [nzOffset]="6">
                <nz-spin [nzSpinning]="submitBtnValid">
                  <button
                    style="width: 100%;border-radius: 20px"
                    nz-button
                    class="login-form-button"
                    [disabled]="!validateForm.valid"
                  >
                    登录
                  </button>
                </nz-spin>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <ng-template #prefixUser
          ><i nz-icon type="user" [nzTheme]="'twotone'"></i
        ></ng-template>
        <ng-template #prefixLock
          ><i nz-icon type="lock" [nzTheme]="'twotone'"></i
        ></ng-template>
      </div>
    </nz-content>
  </nz-layout>
</div>
